:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.summary-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.summary {
  display: flex;
  position: absolute;
  background: rgb(255, 222, 228);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  text-align: center;
  top: 0;
  left: 0;
}

.summary.h2,
.summary.p {
  margin-bottom: 32px;
}
